body
{
    font-family: Lato;
    font-weight: 400;
    margin:none;
    background-size: 100%;
    margin: 0;
    background-color: #7b1842;
}

header
{
    position: relative;
}

.bgimg
{
    background: url("images/bg.jpg") no-repeat , rgb(40,40,40) repeat-y;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index:-1;
    position: absolute;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
}

.bgimg #overlay
{
    position:absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #111111;
    opacity: 0.5;
    
}
#bg1
{
    background: url("images/bg1.jpg") no-repeat;
    height: 30vh;
    width: 100%;
    position: absolute;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}
#bg2
{
    background: url("images/bg2.jpg") no-repeat;
    height: 30vh;
    width: 100%;
    position: absolute;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}
#naglowek
{
    height: 100vh;
}

#cytat
{
    max-width:1000px;
    position: absolute;
    top: 35%;
    left: 27%;
    font-size:50px;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.733);
    text-align:right;
}
h1
{
    font-family: 'Shadows Into Light', cursive;
    font-size:60px;
    font-style: italic;
}
#logo
{
    margin-right: auto;
    margin-left: 0;
    width:410px;
    height: 215px;
    z-index: 100;
    position: fixed;
    transition: all 0.2s ease-out;
}

.logoS
{
    width:100%;
    margin-right: auto;
    margin-left: 0;
    width:410px;
    height: 215px;
    z-index: 100;
    position: fixed;
    transform: translate3d(0px, -80px, 0px) scale(0.33);
 }

ul/*lista nawigacja*/
{
    margin-top:0;
    position:fixed;
    right:0;
    top:0;
    width:75%;
    list-style-type: none;
}

a.navlink
{
    float:right;
    background-color: #70000000;
    padding:20px;
    text-align:center;
    color:white;
    min-width:7%;
    text-decoration: none;
}
a.navlink:hover
{
    font-weight: 900;
    background-color: #70000063;
    border-radius: 20px;
}

#news
{
    width:100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    margin-left:auto;
    margin-right:auto;
    font-weight: 900;
    text-align: center;
    font-size: 90px;
    -webkit-box-shadow: 0px 0px 62px -9px rgba(70,0,0,0.75);
    -moz-box-shadow: 0px 0px 62px -9px rgba(70,0,0,0.75);
    box-shadow: 0px 0px 62px -9px rgba(70,0,0,0.75);
    padding-top:50px;
}

#menu
{
    padding-top:50px;
    width:100%;
    background-color: #fde49f;
    margin-left:auto;
    margin-right: auto;
    border-radius: none;
    padding-bottom: 0px;
    -webkit-box-shadow: 0px 0px 36px 1px rgba(70,0,0,1);
    -moz-box-shadow: 0px 0px 36px 1px rgba(70,0,0,1);
    box-shadow: 0px 0px 36px 1px rgba(70,0,0,1);
    margin-top:30px;
}

#menu #nag
{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    padding-top: 8px;
    padding-bottom:0px;
    text-align: left;
    font-weight: 900;
    color: white;
    height: 40px;
    background: #fde49f;
    border-radius: 15px;
    

}

#menu #nag input[type=button]
{

    width: 100px;
    margin-top: auto;
    margin-bottom: auto;
    
}

.buttonik
{
    font-weight: 900;
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    color: #ffffff;
    font-size: 15px;
    background: #700000;
    padding: 7px 15px 7px 15px;
    border: solid #700000 1px;
    text-decoration: none;
    cursor: pointer;
    float: left;
    margin-left: 10px;
    display: inline-block;
}

.buttonik:hover
{
    background: #fff;
    color: #700000;
    text-decoration: underline;
}

.menu
{
    background-color: #fde49f;  
    width:  300px; 
    margin-left:auto;
    margin-right: auto;
    height: 300px;
}

.menu0                   
{                       
    display: none;     
}                          
                        
.menu1
{
    display: none;
}

.menu2
{
    display: none;
}

.menu3
{
    display: none;
}
.menu4
{
    display: none;
}
.menu5
{
    display: none;
}
.menu6
{
    display: none;
}

.menuA
{
    text-align:center;
    display: block;
}

.menuA >.menuP > ol > li
{
    color: #700000;
    list-style-type: disc;
    text-align: left;
    
}

#b0
{
    margin-left: 25px; 
    display: inline-block;
}

#b1
{
    margin-left: 10px;             
    display: inline-block;
}

#b2
{
    margin-left: 10px;
    display: inline-block;
}

#b3
{
    margin-left: 10px;
    display: inline-block;
}

#b4
{
    margin-left: 10px;
    display: inline-block;
}

#b5
{
    margin-left: 10px;
    display: inline-block;
}

#b6
{
    margin-left: 10px;
    display: inline-block;
}

.menuP
{
    background-color: #fde49f;  
    margin-left:auto;
    margin-right: auto;
    float:left;
}

ol
{
    list-style-type: none;
}
.ceny
{
    width:30px;
    margin-right:auto;
    margin-left:auto;
    text-align:center;
    color:#700000;
    float:left;
}

#gratis
{
    font-weight: 900;
    color: #700000;
    text-decoration:underline;
}

#gallery
{
    width:100%;
    height: 100vh;
    background-color: white;
    margin-left:auto;
    margin-right:auto;
    font-weight: 900;
    text-align: center;
    font-size: 90px;
    margin-top:30px;
    -webkit-box-shadow: 0px 0px 62px -9px rgba(70,0,0,0.75);
    -moz-box-shadow: 0px 0px 62px -9px rgba(70,0,0,0.75);
    box-shadow: 0px 0px 62px -9px rgba(70,0,0,0.75);
    padding-top:50px;
}

#party
{
    width:100%;
    height: 42vh;
    background-color: white;
    margin-left:auto;
    margin-right:auto;
    font-weight: 900;
    text-align: center;
    font-size: 50px;
    margin-top:250px;
    -webkit-box-shadow: 0px 0px 62px -9px rgba(70,0,0,0.75);
    -moz-box-shadow: 0px 0px 62px -9px rgba(70,0,0,0.75);
    box-shadow: 0px 0px 62px -9px rgba(70,0,0,0.75);
    padding-top:50px;
}

#contact
{
    width:100%;
    height: 100vh;
    background-color: white;
    margin-left:auto;
    margin-right:auto;
    font-weight: 900;
    text-align: center;
    font-size: 90px;
    margin-top:280px;
    -webkit-box-shadow: 0px 0px 62px -9px rgba(70,0,0,0.75);
    -moz-box-shadow: 0px 0px 62px -9px rgba(70,0,0,0.75);
    box-shadow: 0px 0px 62px -9px rgba(70,0,0,0.75);
    padding-top:50px;
}

#work
{
    width:100%;
    height: 100vh;
    background-color: white;
    margin-left:auto;
    margin-right:auto;
    font-weight: 900;
    text-align: center;
    font-size: 90px;
    margin-top:30px;
    -webkit-box-shadow: 0px 0px 62px -9px rgba(70,0,0,0.75);
    -moz-box-shadow: 0px 0px 62px -9px rgba(70,0,0,0.75);
    box-shadow: 0px 0px 62px -9px rgba(70,0,0,0.75);
    margin-bottom: 30px;
    padding-top:50px;
}

#sss
{
font-size: 55px;
}

.sniadania
{
    width: 500px;
}





/*Niepotrzebne klasy*/
.text
{
    margin-top:0;
    width:70%;
    text-align: justify;
    color: #000000;
    text-align: center;
    font-weight: 400;
    color: #FFFFFF;

}
    
.sticky
{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}



/* Tu jest ze skryptu na tabele ta z imprezami */

.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 300px;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}
* {box-sizing: border-box}
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
}