body
{
    font-family: Lato;
    font-weight: 400;
    margin:none;
    background-size: 100%;
    margin: 0;
    background-color: #7b1842;
}

header
{
    position: relative;
}

.bgimg
{
    background: url("images/bg.jpg") no-repeat , rgb(40,40,40) repeat-y;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index:-1;
    position: absolute;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
}

.bgimg #overlay
{
    position:absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #111111;
    opacity: 0.5;
    
}
#bg1
{
    background: url("images/bg1.jpg") no-repeat;
    height: 30vh;
    width: 100%;
    position: absolute;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}
#bg2
{
    background: url("images/bg2.jpg") no-repeat;
    height: 30vh;
    width: 100%;
    position: absolute;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}
#naglowek
{
    height: 100vh;
}

#cytat
{
    max-width:70%;
    position: absolute;
    top: 35%;
    left: 20%;
    font-size:50px;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.733);
    text-align:right;
    cursor: default;
}
h1
{
    font-family: 'Shadows Into Light', cursive;
    font-size:60px;
    font-style: italic;
}
.logo
{
    background: url('images/logo.png');
    background-size: 100%;
    margin-right: auto;
    width: 410px;
    height: 215px;
    z-index: 100;
    position: fixed;
    left: -1%;
    transition: all 0.2s ease-out;
}

.logoS
{
    /*background: url('images/logo2.png');*/
    background-size: 100%;
    transform: translate3d(0px, -80px, 0px) scale(0.33);
}

ul/*lista nawigacja*/
{
    margin-top:0;
    position:fixed;
    right:0;
    top:0;
    width:100%;
    list-style-type: none; 
    transition: all 1s ease-out;
    z-index: 100 !important;
}
   
.ulS
{
    background-color: #ffffff;
    -webkit-box-shadow: -2px 4px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 4px 5px 1px rgba(0,0,0,0.75);
    box-shadow: -2px 4px 5px 1px rgba(0,0,0,0.75);
}
a.navlink
{
    color: #ffffff;
    float:right;
    padding:1.1%;
    text-align:center;
    min-width:10%;
    text-decoration: none;  
    transition: all 5s;
    transition: border 0s;
    border-bottom: 5px solid #ffffff00;
}

a.navlink:hover
{
    border-bottom: 5px solid #7b1842;
}
.navS
{
    border-bottom: 5px solid #7b1842;
    color: #7b1842 !important;
}

#extender
{
    width: 100%;
    height: 20vh;
}

#news
{
    width:100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    margin-left:auto;
    margin-right:auto;
    font-weight: 900;
    text-align: center;
    font-size: 90px;
    -webkit-box-shadow: 0px 0px 62px -9px rgba(70,0,0,0.75);
    -moz-box-shadow: 0px 0px 62px -9px rgba(70,0,0,0.75);
    box-shadow: 0px 0px 62px -9px rgba(70,0,0,0.75);
    padding-top:50px;
}
#posty
{
    width:96%;
    margin-right:auto;
    margin-left:auto;
}
.post
{
    float:left;
    margin:1%;
    width:30%;
    height:90vh;
}
#menu
{
    padding:2%;
    width:60%;
    background: #ffffff;
    background-size: 100% 100%;
    margin-left:auto;
    margin-right: auto;
    border-radius: none;
    padding-bottom: 0px;
    -webkit-box-shadow: 0px 0px 36px 1px rgba(70,0,0,1);
    -moz-box-shadow: 0px 0px 36px 1px rgba(70,0,0,1);
    box-shadow: 0px 0px 36px 1px rgba(70,0,0,1);
    margin-top:2%;
}

#menu #nag
{
    border-bottom: 2px dashed #7b1842;
    margin-left:auto;
    margin-right:auto;
    padding-top: 0.5%;
    padding-bottom:2%;
    text-align: center;
    font-weight: 900;
    height: 2%;
    

}

#menu #nag input[type=button]
{

    width: 20%;
    margin-top: auto;
    margin:none;
    
}

.buttonik
{
    font-weight: 900;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 1px 3px #000000;
    -moz-box-shadow: 0px 1px 3px #000000;
    box-shadow: 0px 1px 3px #000000;
    color: #ffffff;
    font-size: 15px;
    background: #7b1842;
    padding: 7px 15px 7px 15px;
    text-decoration: none;
    cursor: pointer;
    float:left;
    margin-bottom: 1%;
    display: inline-block;
}

.buttonik:hover
{
    background: #611334;
}

.menu
{
    width:  60%; 
    margin-left:auto;
    margin-right: auto;
    height: 30vh;
}

.menu0                   
{                       
    display: none;     
}                          
                        
.menu1
{
    display: none;
}

.menu2
{
    display: none;
}

.menu3
{
    display: none;
}
.menu4
{
    display: none;
}
.menu5
{
    display: none;
}
.menu6
{
    display: none;
}

.menuA
{
    text-align:center;
    display: block;
}

.menuA >.menuP > ol > li
{
    color: #7b1842;
    list-style-type: disc;
    text-align: left;
    background: none;
    
}

#b0
{
    display: inline-block;
}

#b1
{           
    display: inline-block;
}

#b2
{
    display: inline-block;
}

#b3
{
    display: inline-block;
}

#b4
{
    display: inline-block;
}

#b5
{
    display: inline-block;
}

#b6
{
    display: inline-block;
}

.menuP
{  
    margin-left:auto;
    margin-right: auto;
    float:left;
    
}

#menu-c /*przyciemnienie tła menu*/
{
    width:50%;
    margin-right:auto;
    margin-left:auto;
    border-radius: 30px;
}

ol
{
    list-style-type: none;
}
.ceny
{
    font-weight: 900;
    width:2%;
    margin-right:auto;
    margin-left:auto;
    text-align:center;
    color:#7b1842;
    float:left;
}

#gratis
{
    font-weight: 900;
    color: #7b1842;
    text-decoration:underline;
    font-size: 30px;
}

#gallery
{
    width:100%;
    height: 100vh;
    background-color: white;
    margin-left:auto;
    margin-right:auto;
    font-weight: 900;
    text-align: center;
    font-size: 90px;
    margin-top:3vh;
    -webkit-box-shadow: 0px 0px 62px -9px rgba(70,0,0,0.75);
    -moz-box-shadow: 0px 0px 62px -9px rgba(70,0,0,0.75);
    box-shadow: 0px 0px 62px -9px rgba(70,0,0,0.75);
    padding-top:5vh;
}

#party
{
    width:100%;
    height: 42vh;
    background-color: white;
    margin-left:auto;
    margin-right:auto;
    font-weight: 900;
    text-align: center;
    font-size: 50px;
    margin-top:30vh;
    -webkit-box-shadow: 0px 0px 62px -9px rgba(70,0,0,0.75);
    -moz-box-shadow: 0px 0px 62px -9px rgba(70,0,0,0.75);
    box-shadow: 0px 0px 62px -9px rgba(70,0,0,0.75);
    padding-top:5vh;
}

#contact
{
    width:100%;
    height: 100vh;
    margin-left:auto;
    margin-right:auto;
    font-weight: 900;
    text-align: center;
    font-size: 90px;
    margin-top:30vh;
    padding-top:5vh;
    margin-bottom:10vh;
}

#kontakt-all
{
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    margin-bottom:auto;
    width:70%;
    margin-top:5vh;
}

#kontakt-informacje
{
    height: 63.6vh;
    width: 50%;
    float:left;
    background-color: #fff;
    border-right:2px dotted #7b1841;

}

h2
{
    text-align:center;
    color: #7b1841;
    font-size:50px;
}

#kontakt-content
{
    margin-top:none;
    width:500px;
    color: #7b1841;
    font-size: 19px;
    font-weight: 400;
    text-align:left;
    margin-right:auto;
    margin-left:auto;
}

.kontakt-nag
{
    font-weight: 900;
}

.contact-form /*formularz kontaktowy*/
{
    width:300px;
    padding: 10px;
    background-color: #d4d4d4;
    color:#000;
    /*border-radius: 20px;*/
    margin-top:5px;
    box-sizing: border-box;
    outline: none;
    border: none;
}

#contact-form-mess
{
    height: 100px;
    width:500px;
}

#contact-form-button
{
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #7b1841;
    height: 50px;
    padding:10px;
    float:right;
    margin-right:200px;
    margin-top:10px;
    /*border-radius: 20px;*/
    transition: all 0.2s ease-out;
}

#contact-form-button:active
{
    transform: scale(0.95);
    /*-webkit-box-shadow: 0px 0px 37px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 37px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 37px 0px rgba(0,0,0,0.75);*/
}

.kontakt-mapa {
    position: relative;
    padding-bottom: 75%; /* Tutaj regulujemy wysokość*/
    height: 0;
    overflow: hidden;
    z-index: 0;
}
.kontakt-mapa iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 63.6vh ;
    width: 63.6% ;
}

#work
{
    width:75%;
    height: 100vh;
    background-color: white;
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
    font-weight: 900;
    text-align: center;
    font-size: 40px;
    -webkit-box-shadow: 0px 0px 62px -9px rgba(70,0,0,0.75);
    -moz-box-shadow: 0px 0px 62px -9px rgba(70,0,0,0.75);
    box-shadow: 0px 0px 62px -9px rgba(70,0,0,0.75);
    margin-bottom: 30px;
    padding-top:50px;
    color: #7b1841;
}

h3
{
    font-size: 90px;
    margin-top: 0;
    margin-bottom: 0;
    
}

#worklist
{
    text-align: left;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    
}

#workform
{
    width: 50%;   
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border: 2px dashed #7b1841;
    padding: 30px;
    height: 30vh;
}

#sss
{
font-size: 55px;
}

.sniadania
{
    width: 500px;
}
/*Niepotrzebne klasy*/
.text
{
    margin-top:0;
    width:70%;
    text-align: justify;
    color: #000000;
    text-align: center;
    font-weight: 400;
    color: #FFFFFF;

}
    
.sticky
{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}



/* Tu jest ze skryptu na tabele ta z imprezami */

.tab 
{
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 300px;
}

/* Style the buttons inside the tab */
.tab button 
{
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}
* {box-sizing: border-box}
/* Change background color of buttons on hover */
.tab button:hover 
{
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active 
{
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent 
{
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
}