body
{
    background: #ffffff;
    font-family: Lato;
    font-weight: 400;
    margin:none;
    background: url('E:/strona/koliba/images/bg.jpg') no-repeat , rgb(40,40,40) repeat-y;
    background-size: 100%;
}
#home
{
    
}

}
    header
    {

        position: relative;
    }

#logo
{
    margin-right: auto;
    margin-left: 0;
    width:430px;
    height: 225px;
}
ul
{
    margin-top:0;
    position:fixed;
    right:0;
    top:0;
    width:100%;
    list-style-type: none;
}
ul > li
{
    color: #000000;
    float:right;
    background-color: #700000;
    padding:20px;
    text-align:center;
    border-right: 1px solid #333333;
    color:white;
    min-width:7%;
}
ul > li:hover
{
    background-color: #FFFFFF;
    color:#700000;
    font-weight: 900;
    text-decoration: underline;
}
#bgimg
{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index:-1;
    position: absolute;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
}
.bgimg .overlay
{
    position:absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #111111;
    opacity: 0.8;
}
#container
{  
    margin-top:0;
    width: 100%;

}
.text
{
    margin-top:0;
    width:70%;
    text-align: justify;
    color: #000000;
    text-align: center;
    font-weight: 400;
    color: #FFFFFF;

}
#menu
{
    width:1000px;
    background-color: #333333;
    margin-left:auto;
    margin-right: auto;
    border-radius: 15px;
    padding-bottom: 0px;
}
#menu #nag
{
    padding-top: 8px;
    padding-bottom:0px;
    text-align: left;
    font-weight: 900;
    color: white;
    height: 40px;
    background: #838383;
    border-radius: 15px;
    

}
#menu #nag input[type=button]
{

    width: 100px;
    margin-top: auto;
    margin-bottom: auto;
    
}


.menu0
{
    display: none;
}

.menu1
{
    display: none;
}

.menu2
{
    display: none;
}

.menu3
{
    display: none;
}

.menuA
{
    display: block;
}

#b0
{
    margin-left: 25px;
    display: inline-block;
}
#b1
{
    margin-left: 10px;
    display: inline-block;
}
#b2
{
    margin-left: 10px;
    display: inline-block;
}
#b3
{
    margin-left: 10px;
    display: inline-block;
}
.buttonik
{
    
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    background: #b8b8b8;
    padding: 7px 15px 7px 15px;
    border: solid #707070 1px;
    text-decoration: none;
    cursor: pointer;
}
.buttonik:hover
{
    background: #828282;

}

#sss
{
font-size: 55px;
}